.container{max-width: 800px;}
body{background: #212529; color:#fff; font-family: sans-serif;font-size: 16px;}
.bg-dark{border-bottom: 1px solid #444; border-top: 1px solid #444;}
.text-muted {font-size: 13px;}
h3, h2, h4, h5, h6 {font-size: 16px; }
.navbar-dark .navbar-brand{color: #0d6efd; font-size: 18px; font-weight: 700;}